td.unit.none{
	background: #9eff9e;
}
#sidebarBoxVillagelist li{
	grid-template-rows: 16px 12px!important;
	font-size: 11px!important;
}

#sidebarBoxVillagelist .shortcutsEnabled li{
	display: block!important;
}
.tjs-btn-delete{
	background: rgb(241, 62, 62);
}
.iconAndNameWrapper{
	padding: 0!important;
}

.Tjs_troop_train{
	height:100%; 
	width:100%; 
	overflow: hidden; 
	margin-top:3px;
	grid-column-start: 1;
	grid-column-end: 4;
}
.Tjs_troop_train .Tjs_troop_train_group{
	float: left;
	width:25%;
	background-color: rgba(128, 128, 128, 0.349);
}
.Tjs_troop_train .Tjs_troop_train_name{
	float: left; 
	color:black;
	padding-right: 5px;
}
.Tjs_troop_train .Tjs_troop_train_timer{
	float: left; 
}




.mobileOptimized #stockBar:before{
	content:unset!important;
}

ts-village-row-adv{
	height: 10px;
	z-index: 999;
	display: inline-grid;
    grid-column: 1 / span 2;
}

ts-village-row-adv ts-timer{
	padding-right: 3px;
	line-height: 8px;
    font-size: 12px;
}

ts-village-row-adv span{
	font-size: 12px;
	line-height: 8px;
}
.tjs-fast-click{
	height: 16px;
}
.tjs-fast-click > *{
	margin: 0px 25px 0px 0px;
}

.tjs-svg{
	vertical-align: middle;	
	width: 20px;
    height: 20px;
	display: inline;
}
.loyalty .tjs-svg{
	margin-right: 3px;
}
.tjs-menu{
	float:right;
	width:100%;
	grid-column-start: 3;
	grid-row-start: 2;
}

.tjs-menu :nth-child(999)
{
	height: 21px;
}
.tjs-market-top{
	width: 100%;
	display: inline-grid;
	grid-template-columns: 45% 55%;
	
}
.tjs-market-top .tjs-left{
	grid-template-rows: auto auto;
}
.tjs-market-top .tjs-left save-checkbox{
	grid-row-start: 1;
}
.tjs-market-top .tjs-left :not(save-checkbox){
	grid-row-start: 2;
}
.tjs-market-top .tjs-left label{
	margin-left: 3px;
}
.tjs-market-top .tjs-left select{
	width : 150px;
}
.tjs-market-top .tjs-left input{
	width : 65px;
}
.tjs-market-top .tjs-left .tjs-market-merchant-plus-minus{
	grid-row-start: 3;	
}
.tjs-market-top .tjs-left .tjs-market-merchant-plus-minus a{
	font-size: 23px;
    line-height: 16px;
    margin: 3px;
    margin-top: 3px;
}
.tjs-market-top .tjs-right{
	height: 54px;
	grid-template-rows: auto auto auto;
}
.tjs-market-top .tjs-right div{
	width: 100%;
}
.tjs-market-resource{
	line-height: 22px;
}
.tjs-market-top .tjs-right .tjs-market-storage{
	grid-template-columns: auto auto;
	display: inline-grid;
}
.tjs-slider{
	width: 100%;
	grid-template-columns: 84% 12%;
	display: inline-grid;
}
.tjs-slider .tjs-slider-input{
	height:16px;
}
.tjs-slider .tjs-slider-label{
	float:right; 
	height: 16px;
}


#sidebarBoxVillagelist .expansionSlotInfo .boxTitle
{
	font-size: small; 
	width: 75%;
}
.buttonFramed.withIcon img{
	width: 20px;
	height: 20px;
	z-index: 3;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	overflow: visible; 
	transform: translateX(-50%) translateY(-50%);
}
.buttonFramed.withIcon.forum img{
	margin-top: 1px;
	margin-left: 2px;
}
.expansionSlotInfo .tsTimer{
	float: right;
	padding-right: 8px;
	width:25%;
	text-align: right;
}
.upgradeBuilding .resourceWrapper{
	grid-template-columns: auto auto auto auto auto auto !important;
}
.trainUnits .tjs-resourceWrapper{
	margin-top: 0px !important;
}
.trainUnits .action.troop:not(.empty){
	height: 200px!important;
}


pop-up{
	z-index: 99999;	
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem 10px rgb(0 0 0 / 70%);
}
pop-up .header{
	position: relative;
    z-index: 2;
	top: -30px;
	height: 40px;
}
pop-up .header .buttonsWrapper{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin: 0 25px -30px; */
}
pop-up .header .buttonsWrapper .layoutButton{
	margin-left: 5px;
}
pop-up .header img{
	width: 20px;
	height: 20px;
}
pop-up::before{
	content: "";
    z-index: -1;
    position: absolute;
    top: -5px;
    right: -2px;
    bottom: -5px;
    left: -2px;
    border-style: solid;
    border-width: 38px 53px 38px 53px;
    border-image: url(../res/sidebarBox.png) 38 53 38 53 fill stretch;
}
pop-up .content{
	z-index: 1;
	max-height: 500px;
	min-height: 200px;
}
pop-up#ts-setting .content{
	width: 400px;
}
#ts-linked-list input[type="text"]{
	width: 100%;
}
pop-up#ts-linked-list .content{
	width: 700px;
}
pop-up#ts-linked-list .footer button{
	float: right;
	margin: 0 0 0 5px;
}
pop-up .footer{
	height: 32px;
	z-index: 0;
}

#raidList .villageWrapper .dropContainer .raidList .raidListContent>form{
	grid-template-rows: auto auto;
    display: grid;
}
#raidList .villageWrapper .dropContainer .raidList .raidListContent>form>table{
	grid-row-start: 2;
}
#raidList .villageWrapper .dropContainer .raidList .raidListContent>form>.buttonWrapper{
	grid-row-start: 1;
}


.villageWrapper.tjs-raidlist-highlight{
	background-color: black;
}

#heroV2 .currentHeroEquipment  {
    display: flex;
    height: auto !important;
}
#heroV2 .currentHeroEquipment .hero {
    display: none;
}
#heroV2 .currentHeroEquipment .equipmentSlots {
    display: flex;
}
#heroV2 .heroItemTooltip{
	z-index: 999999;
}
#content.heroV2.heroV2Inventory{
	min-height: auto !important;
}